<!DOCTYPE html>
<html>
	<head>
		<title>Estamos aprendendo Flask!</title>
		<meta charset="utf-8">
	</head>
	<body>
		<a href="/listar_pessoas">Clique aqui pra voltar</a><br>
		<a href="/logout">Fazer logout</a>
		<form action="/alterar_pessoa">
			<input style="width:10%" type="text" name="nome" value="{{dados.nome}}" placeholder="Nome completo"><br>
			<input style="width:10%" type="text" name="endereco" value="{{dados.endereco}}" placeholder="Endereço"><br>
			<input style="width:10%" type="text" name="cpf" value="{{dados.cpf}}" placeholder="CPF"><br>
			<input style="width:10%" type="hidden" name="cpf_inicial" value="{{dados.cpf}}">
			<input style="width:10%" type="submit" value="Alterar">
		</form>
	</body>
</html>